
@import "range";
@import "animate";

body {
	margin:0;
	padding:0;
}
.full-Page-row {
	height:100vh;

	.aside-col,
	.main-col {
		height:100vh;
    	overflow:hidden;
	}
}

.main-col {
	&::after {
			content: '';
			transition: background 0.167s ease;
		}
	&.fade-out {
		&::after {
			content: '';
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    background: rgba(0,0,0,0.4);
		}
	}
}

.aside-col {
	color: #fff;

  .ms-Toggle-input+.ms-Toggle-field:active, 
  .ms-Toggle-input:checked+.ms-Toggle-field {
    background-color:#00B294;
    &:hover {
      background-color:#008272;
    }
  }

  .ms-Toggle {
    color:#fff;
    .ms-Label,
    .ms-Label:hover {
      color:#fff;
    }
  }
}

.rangeValue {
  background-color: #00B294;
  padding:5px 7px;
  border-radius: 4px;
}

.planetList {
  padding:0;
}
.sentiment {
  font-style: italic;
}

.stage-row {
	height:100%;
    position:relative;

	.circle {
		position:absolute;
		min-width:30px;
		min-height:30px;
		border-radius:100%;
		margin:10px;
		display: flex;
    flex-direction: column;
    text-align: center;
    color: transparent;
    justify-content: center;
    align-items: center;
    transition:color 0.167s ease-out, transform 0.167s ease-in-out;
    cursor: pointer;
    background-image: url(../images/sphere.png);
    background-image: url(../images/sphere.svg);
    background-size: cover;

    span {
      display:none;
    }

    .removeCircle {
      display:none;
    }

    &:hover {
    	transform: scale(1.1,1.1);
    }

    &.zoom {
    	z-index:1;
  	  width: 60vh !important;
	    height: 60vh !important;
	    left: 50% !important;
	    top: 0 !important;
	    margin-left: -30vh !important;
	    color:#000;
      position: relative;
      transform: rotate(0deg) !important;

      span {
        display:block;
      }

      .removeCircle {
        background: #E81123;
        display: block;
        width: 50px;
        height: 50px;
        font-size: 30px;
        line-height: 50px;
        position: absolute;
        border-radius: 50px;
        top: 10%;
        right: 10%;
        display: block;
        color:#fff;
        * {
          pointer-events: none;
        }
      }

    	&:hover {
	    	transform: scale(1,1);
	    }
    }
    &.nonRandom:not(.removed) {
      position: relative !important;
      display: block !important;
      width: 50px !important;
      height: 50px !important;
      margin: 5px !important;
      top: 0 !important;
      left: 0 !important;
      transform: rotate(360deg) !important;
      float: left;
    }
	}
}

input[type="range"] {
  @include input-type-range();
  width:100%;
  padding:0;
}